@use "../custom" as *;
@use "../mixins" as *;


.modal-container {
    background-color: rgba(0, 0, 0, 0.749);
}

.modal-content {
    @include Inter600;
}


@include media-breakpoint-up(md) {
    .modal-dialog {
        width: 480px;
        height: 412px;
    }
}