@use "../custom" as *;
@use "../mixins" as *;


.modal-container {
    background-color: rgba(0, 0, 0, 0.749);
}

.modal-dialog {
    width: 480px;
    height: 412px;
}

@include media-breakpoint-down(md) {
    .modal-dialog {
        width: 328px;
        height: 436px;
    }
}