@use "../custom" as *;
@use "../mixins" as *;
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.search-form {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 80%;
    right: 0;
    top: 25%;
    bottom: 0;
}

.search-field {
    width: 256px;
    border-radius: 4px;
    height: 56px;
    @include Inter400;
    color: $semi-black;
}

.menu {
    li {
        a {
            @include Inter600;
            color: $white;
        }
    }
}