@use "../custom" as *;
@use "../mixins" as *;


.description-options {
    @include Inter600;
}

.hr {
    color: $dark-grey;
}

.description-text {
    @include Inter400;
    padding-right: 100px;
}

.btn-orange {
    color: $primary;
    background-color: $white;
    border-color: $light-grey;
}

.background-grey {
    background-color: $light-grey;
}

th {
    @include Inter600;
    color: $primary;
}

td {
    @include Inter400;
}

@include media-breakpoint-down(md) {
    .description-image {
        width: 350px;
    }

    .description-text {
        padding-right: 0px;
    }

    th:nth-last-child(-n + 3) {
        display: none;
    }

    td:nth-last-child(-n + 3) {
        display: none;
    }
}