@use "../custom" as *;
@use "../mixins" as *;


.description-options {
    @include Inter600;
}

.hr {
    color: $dark-grey;
}

.description-text {
    @include Inter400;
}

.btn-orange {
    color: $primary;
    background-color: $white;
    border-color: $light-grey;
}

.background-grey {
    background-color: $light-grey;
}

th {
    @include Inter600;
    color: $primary;
}

td {
    @include Inter400;
}